.main-cnt{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90vw;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
    padding: 1rem;
}

.main-cnt .url-cnt{
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 1rem;
}
.main-cnt .url-cnt .url{
    width: fit-content;
    align-self: center;
    font-size: 1rem;
    font-weight: 600;
}

.main-cnt .url-cnt .link{
    all: unset; 
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
    text-align: left;
}

.main-cnt .url-cnt button{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: fit-content;
    font-size: 0.8rem;
}

.link:focus,
.link:not(:placeholder-shown) { 
    border-bottom: 2px solid black;
}

.main-cnt .info-cnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    text-align: justify;
}

.main-cnt .info-cnt .title{
    font-size: 2rem;
    font-weight: 600;
}

.main-cnt .info-cnt .news-summary{
    font-size: 1rem;
    
}
.main-cnt .info-cnt .news-bias{
  font-size: 1rem;
  
}

.main-cnt .info-cnt .tendency{
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
}

.main-cnt .info-cnt .tendency .news-tendency-name{
  font-weight: 600;
}

.main-cnt .info-cnt .tendency .news-tendency-Neutral {
  position: relative;
  display: inline-block;
  width: 4vw; /* Tamaño adaptable al viewport */
  height: 4vw;
  min-width: 30px; /* Tamaño mínimo para evitar que se haga demasiado pequeño */
  min-height: 30px;
  border-radius: 50%;
}

.main-cnt .info-cnt .tendency .news-tendency-Neutral::after {
  content: "";
  position: absolute;
  top: 0.8rem;
  left: 5rem;
  width: 2rem; /* Tamaño relativo al círculo */
  height: 2rem;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.996);
}

.main-cnt .info-cnt .tendency .news-tendency-Izquierdas {
  position: relative;
  display: inline-block;
  width: 4vw; /* Tamaño adaptable al viewport */
  height: 4vw;
  min-width: 30px; /* Tamaño mínimo para evitar que se haga demasiado pequeño */
  min-height: 30px;
  border-radius: 50%;
}

.main-cnt .info-cnt .tendency .news-tendency-Izquierdas::after {
  content: "";
  position: absolute;
  top: 0.8rem;
  left: 6.5rem;
  width: 2rem; /* Tamaño relativo al círculo */
  height: 2rem;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgba(255, 0, 13, 0.978);
}

.main-cnt .info-cnt .tendency .news-tendency-Derechas {
  position: relative;
  display: inline-block;
  width: 4vw; /* Tamaño adaptable al viewport */
  height: 4vw;
  min-width: 30px; /* Tamaño mínimo para evitar que se haga demasiado pequeño */
  min-height: 30px;
  border-radius: 50%;
}

.main-cnt .info-cnt .tendency .news-tendency-Derechas::after {
  content: "";
  position: absolute;
  top: 0.8rem;
  left: 6.5rem;
  width: 2rem; /* Tamaño relativo al círculo */
  height: 2rem;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgba(0, 68, 255, 0.978);
}



.main-cnt .spinner-cnt{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-cnt .spinner-cnt .loader {
    display: inline-block;
    transform: translateZ(1px);
  }
  .loader:after {
    content: '';
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 8px;
    border-radius: 50%;
    background: var(--secondary-color);
    animation: coin-flip 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes coin-flip {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
}
