.main-cnt{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
    padding: 1rem;
}

.main-cnt .url-cnt{
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 1rem;
}
.main-cnt .url-cnt .url{
    width: fit-content;
    align-self: center;
    font-size: 1rem;
    font-weight: 600;
}

.main-cnt .url-cnt .link{
    all: unset; 
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
    text-align: left;
}

.main-cnt .url-cnt button{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: fit-content;
    font-size: 0.8rem;
}

.link:focus,
.link:not(:placeholder-shown) { 
    border-bottom: 2px solid black;
}

.main-cnt .info-cnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: justify;
}

.main-cnt .info-cnt .title{
    font-size: 2rem;
    font-weight: 600;
}

.main-cnt .info-cnt .news-summary{
    font-size: 1rem;
    
}